<launch>
  <arg name="serial_port" default="/dev/rplidar"/>
  <arg name="serial_baudrate" default="115200"/>
  <arg name="frame_id" default="rplidar_laser_link"/>
  <arg name="inverted" default="false"/>
  <arg name="scan_topic" default="front_laser/scan"/>
  <arg name="angle_compensate" default="true"/>
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         value="$(arg serial_port)"/>  
  <param name="serial_baudrate"     value="$(arg serial_baudrate)"/>
  <param name="frame_id"            value="$(arg frame_id)"/>
  <param name="inverted"            value="$(arg inverted)"/>
  <param name="angle_compensate"    value="$(arg angle_compensate)"/>
  <remap from="scan" to="$(arg scan_topic)"/>
  </node>
</launch>
